body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(251, 251, 251);
    background-image: url(https://thumbs.dreamstime.com/b/ruido-negro-sobre-un-fondo-blanco-textura-oscura-de-puntos-y-gr%C3%A1nulos-185919010.jpg);
}

header {
    /*background-color: rgb(36, 36, 36);*/
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    height: 12vh;
    background-image: url(https://as1.ftcdn.net/v2/jpg/02/17/56/58/1000_F_217565833_eylbMeAi93YunYGhZH2R29nylTDU8Ezd.jpg);
    background-size: cover;
}

nav{
    display: flex;
    flex-direction: column;
}

nav ul {
    padding: 3px;
    display: flex;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    margin: 10px;
    justify-content: center;
}

nav ul li {
    padding: 1%;
    list-style: none;
    transition: color 0.3s;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background-color: rgba(250, 235, 215, 0.841);
}

nav ul li a {
    font-weight: bold;
    text-decoration: none; /* Quitar subrayado del enlace */
    color: #ffffff; /* Color del texto normal */
    transition: color 0.3s; /* Transición para el cambio de color */
}

nav ul li a:hover {
    color: #000000;
}

section {
    padding: 40px;
}

.project {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project img {
    max-width: 100%;
    width: 500px;
    border: 1px black solid;
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: transform 0.3s;
}

.project img:hover {
    transform: scale(1.1);
}

footer {
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
}

.titlePortfolio{
    margin-top: 0px;
    text-align: center;
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(247, 251, 254);
}

.descripcion1{
    text-align: center;
}

.titulosh2{
    margin-top: 0px;
    text-align: center;
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(247, 251, 254);
    padding: 5px;
}

.containerDesc{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon{
    height: 400px;
    margin-left: 50px;
    border-radius: 20px;
}

.descripcionAbout{
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}

#about{
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: #fefbf7;
    margin-bottom: 20px;
    margin-top: 20px;
}

#portfolio{
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: #fefbf7;
    margin-bottom: 20px;
}

#contact{
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: #fefbf7;
    margin-bottom: 20px;
}

.containerFoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

#containerHab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
}

.habExpEd {
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: #fefbf7;
    width: 300px;
    height: 400px;
}

.listaHabilidades {
    padding: 7px;
}

.botonCurriculum {
    width: 150px;
    height: 50px;
    background-color: rgb(147, 147, 147);
    border-radius: 20px;
    border: 1px black solid;
}

.botonCurriculum a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.botonCurriculum:hover {
    background-color: #000000;
}

.habilidades {
    width: 50px;
    padding: 22px;
}

.educacion {
    width: 50px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(247, 251, 254);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
    width: 380px;
}

input[type="submit"] {
    background-color: #ff766f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff0000;
}